.vs/
Library/
Temp/
Obj/
Build/
Builds/
Logs/
MemoryCaptures/
UserSettings/
SaveData.json

*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.tmp


/Assets/UnPackingData/Font/MALGUN SDF.asset
/Assets/UnPackingData/Font/.ttf
/Assets/UnPackingData/Font/.otf